@use '../abstracts/mixins' as *;
@use '../abstracts/variables';
@use '../abstracts/functions' as *;

.navbar {
    @include flex(space-between, center);

    padding: rem(61) rem(25);
    background: variables.$color-white;
    position: relative;

    &__toggle {
        background: none;
        border: none;
        font-size: rem(65);
        display: inline-block;

        @include media(lg) {
            display: none;
        }
    }

    &__login {
        display: none;

        @include media(md) {
            display: inline-block;
            margin-left: auto;
        }

        @include media(lg) {
            margin-left: rem(24);
        }
    }

    &__menu {
        display: none;

        @include media(lg) {
            display: flex;
            align-items: center;
        }
    }

    &__list {
        display: flex;
        gap: 2rem;
    }

    &__login {
        margin-left: 2rem;
    }

    &.active &__menu {
        display: block;
    }
}
