@use '../abstracts/variables' as *;
@use '../base/typography' as *;

.section__header {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    h2 {
        @extend .heading--h2;
        color: $color-secondary;
        text-transform: uppercase;
    }

    h3 {
        @extend .heading--h3;

        color: $color-grey;
    }
}
