@use '../abstracts/variables' as *;
@use '../base/typography' as *;
@use '../abstracts/mixins' as *;

.section__header {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    h2 {
        @extend .heading--h2;
        color: $color-secondary;
        text-transform: uppercase;
    }

    h3 {
        color: $color-grey;
        @extend .heading--h3;
        @include media(md) {
            letter-spacing: -0.06rem;
        }
    }
}

.section__heading-group {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    p {
        @extend .text--primary;

        color: rgba($color-grey, 0.5);
    }
}
