@use 'mixins' as *;

$container-max-width: 1200px;
$container-padding-sm: 1.6rem; // Mobile
$container-padding-md: 6.4rem; // Tablet
$container-padding-lg: 13rem; // Desktop

.container {
    width: 100%;
    max-width: $container-max-width;
    margin-inline: auto;
    padding-inline: $container-padding-sm;

    @include media(md) {
        padding-inline: $container-padding-md;
    }

    @include media(lg) {
        padding-inline: $container-padding-lg;
    }
}
