@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
    position: sticky;
    top: 0;
    @include flex();
    z-index: 1000;

    background-color: rgba($color-white, 0.95);
    backdrop-filter: blur(1rem);
    transition: box-shadow 0.3s ease;

    body.scrolled & {
        box-shadow: 0 0.4rem 1rem rgba($color-black, 0.05);
    }

    &__gradient {
        position: absolute;
        top: -3.6rem;
        left: -1.2rem;
        width: 27.2rem;
        height: 34.8rem;
        background-color: rgba($color-accent-orange, 0.5);
        pointer-events: none;
        border-radius: 50%;
        filter: blur(15rem);
    }

    &__container {
        position: relative;
        @include flex($justify: space-between, $direction: row-reverse);
        padding-top: 3.8rem;
        padding-bottom: 0.4rem;

        @include media(md) {
            flex-direction: row; // Tablet: hamburger on left
            padding: 3.4rem 6.6rem;
        }

        @include media(lg) {
            padding: 4.2rem 12.4rem;
            transition: padding 0.3s ease;
            body.scrolled & {
                padding: 2.4rem 13rem 0.4rem 13rem;
            }
        }
    }

    &__menu-toggle.is-nav-open {
        & .icon-hamburger {
            transform: rotate(90deg);
        }
    }

    &__logo {
        height: 4rem;
        position: relative;

        @include media(md) {
            left: 9rem;
        }

        @include media(lg) {
            left: 0;
        }
    }

    &__menu-toggle {
        background: none;
        border: none;
        display: block;

        @include media(lg) {
            display: none; // Hidden on desktop
        }
    }

    &__nav {
        position: fixed;
        top: 8.5rem;
        left: auto;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        height: calc(100vh - 8.5rem);
        width: 100%;
        max-width: 1024px;
        border: 1px solid $color-light;
        background: $color-white;
        transition:
            right 0.3s ease,
            opacity 0.3s ease;
        z-index: 999;
        text-align: center;

        &.is-nav-open {
            right: 0;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        @include media(md) {
            left: -100%;
            right: auto;
            max-width: 50%;
            transition: left 0.3s ease;
            &.is-nav-open {
                left: 0;
            }
        }

        @include media(lg) {
            display: block;
            height: auto;
            position: static;
            max-width: fit-content;
            transform: none;
            background: transparent;
            border: none;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 4rem 6rem;

        @include media(lg) {
            flex-direction: row;
            align-items: center;
            white-space: nowrap;
            gap: 6.4rem;
        }
    }

    &__nav-link {
        font-weight: $font-bold;
        color: rgba($color-grey, 0.5);

        &:hover {
            color: $color-dark;
            text-decoration: underline;
        }
    }

    &__auth {
        &--mobile {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 2rem;

            @include media(md) {
                display: none;
            }
        }

        &--desktop {
            display: none;

            @include media(md) {
                display: flex;
            }
        }
    }
}

body.is-nav-open {
    overflow: hidden;
    height: 100vh;
}
