@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.hero {
    &__container {
        width: 100%;
        text-align: center;
        padding-top: 6.4rem;
        padding-bottom: 6.4rem;

        @include flex($direction: column);
        gap: 6.4rem;

        @include media(md) {
            padding-top: 6rem;
            padding-bottom: 6rem;
            gap: 9.2rem;
        }

        @include media(lg) {
            gap: 3.2rem;
            padding-top: 0;
        }
    }

    &__body {
        @include flex($direction: column);
        gap: 3rem;

        @include media(md) {
            gap: 6.4rem;
        }

        @include media(lg) {
            flex-direction: row-reverse;
            gap: 0;
            align-items: flex-start;
            justify-content: space-between;
            padding-top: 2.6rem;
            padding-bottom: 2.6rem;
        }
    }

    &__picture {
        @include media(lg) {
            flex-shrink: 0;
            height: 71.3rem;
            width: 77.2rem;
        }
    }

    &__image {
        @include media(lg) {
            height: 100%;
            max-width: 100%;
        }
    }

    &__content {
        position: relative;
        @include flex($direction: column);
        gap: 3.4rem;

        @include media(md) {
            gap: 4.3rem;
        }

        @include media(lg) {
            align-items: flex-start;
            padding-top: 6.8rem;
            padding-bottom: 6.8rem;
        }
    }

    &__text {
        @include flex($direction: column);
        gap: 1.8rem;

        @include media(md) {
            gap: 4.3rem;
        }

        @include media(lg) {
            align-items: flex-start;
            text-align: left;
            gap: 4rem;
        }
    }

    &__badge {
        color: $color-secondary;
        padding: 1.6rem 3.2rem;
        @include flex();
        gap: 1.6rem;
        background-color: $color-white;
        box-shadow: 0 0.4rem 1rem rgba($color-black, 0.05);
        border-radius: 10rem;
    }

    &__title {
        color: $color-black;
        max-width: 16ch;
        @include media(lg) {
            line-height: 1.3;
        }
    }

    &__title-highlight {
        color: $color-secondary;
    }

    &__description {
        color: rgba($color-dark, 0.5);
        max-width: 38ch;
    }

    &__cta {
        @include flex($direction: column);
        gap: 2.4rem;
        width: 100%;

        @include media(md) {
            width: fit-content;
            flex-direction: row;
            gap: 1.6rem;
        }
    }

    &__button {
        width: 100%;
        @include flex();
        gap: 0.8rem;
        white-space: nowrap;
    }

    &__button:first-of-type {
        box-shadow: 0 0.4rem 1rem rgba($color-black, 0.2);
    }

    &__logos {
        @include flex();
        flex-wrap: wrap;
        gap: 2.6rem 3.2rem;

        @include media(md) {
            padding: 6.4rem 9.4rem;
        }

        @include media(lg) {
            width: 100%;
            justify-content: space-between;
            padding: 6.4rem 0;
        }
    }

    &__logo {
        height: 2rem;

        @include media(md) {
            height: 3.2rem;
        }
    }
}

.icon-play {
    font-size: 2rem;
}

.icon-bag {
    font-size: 2rem;
}

.decor-pattern {
    display: none;

    @include media(md) {
        display: block;
        position: absolute;
        bottom: -4.4rem;
        left: -17.6rem;
    }

    @include media(lg) {
        left: -9rem;
        bottom: -14rem;
    }
}
