@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../base/typography' as *;

.newsletter {
    position: relative;
    padding: 4.6rem;

    @include media(md) {
        padding: 0 6.4rem;
    }

    @include media(lg) {
        padding: 5.8rem 12.4rem;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 6.6rem;

        @include media(md) {
            gap: 6.4rem;
            padding: 10.4rem 6.4rem;
            background: rgba($color-accent-yellow, 0.08);
            border-radius: 3.2rem;
        }

        @include media(lg) {
            padding: 12.8rem 6.4rem;
        }
    }

    &__graphic {
        display: none;
        pointer-events: none;

        &--left {
            @include media(md) {
                left: -2.1rem;
                top: -7.4rem;
            }

            @include media(lg) {
                left: -3.4rem;
                top: -4.8rem;
            }
        }

        &--right {
            @include media(md) {
                right: 0;
                top: -35rem;
            }

            @include media(lg) {
                top: 56rem;
            }
        }

        @include media(md) {
            display: block;
            position: absolute;
        }
    }

    &__header {
        @include flex($direction: column);
        gap: 3.2rem;
        text-align: center;
    }

    &__title {
        color: $color-secondary;
        text-transform: uppercase;
    }

    &__form {
        @include flex($direction: column);
        gap: 3.4rem;

        @include media(md) {
            flex-direction: row;
            gap: 6.4rem;
        }
    }

    &__input-wrapper {
        position: relative;
        color: rgba($color-grey, 0.75);
        width: 100%;
        border-radius: 3.2rem;
    }

    &__input-box {
        padding: 2.4rem 6.4rem 2.4rem 7.2rem;
        width: 100%;
        border: none;

        @include media(md) {
            padding: 2.4rem 8rem;
        }
    }

    &__input-icon {
        position: absolute;
        left: 3.6rem;
        top: 50%;
        transform: translateY(-50%);

        @include media(md) {
            left: 3.4rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2.6em;
        }
    }

    &__button {
        padding: 2.3rem 6.4rem;
        width: 100%;
        border-radius: 2rem;
        cursor: pointer;

        @include media(md) {
            width: fit-content;
            padding: 3.2rem 6.4rem;
            border-radius: 3.2rem;
        }
    }
}
