@use '../base/typography' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.services {
    &__container {
        position: relative;
        @include flex($direction: column);
        gap: 2.8rem;

        @include media(md) {
            gap: 6.4rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        @include media(lg) {
            flex-direction: row;
            gap: 0rem;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &__gradient {
        position: absolute;
        top: -19.6rem;
        right: 0rem;
        width: 27.2rem;
        height: 34.8rem;
        background-color: rgba($color-accent-yellow, 0.5);
        pointer-events: none;
        border-radius: 50%;
        filter: blur(15rem);
    }

    &__header {
        text-align: center;
        @include media(lg) {
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.6rem;

        @include media(md) {
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
        }

        @include media(lg) {
            gap: 2.1rem;
        }
    }

    &__card {
        @include flex($justify: flex-start, $direction: column);
        gap: 3.2rem;
        padding: 3.2rem;
        text-align: center;
        border: 1px solid rgba($color-grey, 0.1);
        border-radius: 3.2rem;

        @include media(md) {
            padding: 6.4rem 6.4rem 3.2rem 6.4rem;
            gap: 6.4rem;
        }

        @include media(lg) {
            padding: 6.4rem;
            min-height: 443px;
            // Hide third card on desktop to maintain 2-column layout
            &:last-child {
                display: none;
            }
        }

        &-text {
            @include flex($direction: column);
            gap: 3.2rem;
        }

        &:hover {
            box-shadow: 0 0.4rem 1rem rgba($color-black, 0.2);
        }

        &__logo {
            height: 6.4rem;
            width: 6.4rem;
        }

        h4 {
            @extend .heading--h4;
            @include clamp-lines(2);
            color: $color-grey;
        }

        p {
            @extend .text--primary--v3;
            @include clamp-lines(4);
            color: rgba($color-grey, 0.5);
        }
    }
}
