.icon-hamburger {
    font-size: 4rem;
    transition: transform 0.3s ease;
    display: inline-block;
}

.icon-play {
    font-size: 2rem;
}

.icon-bag {
    font-size: 2rem;
}

.icon-star {
    font-size: 3.2rem;
}

.icon-email {
    font-size: 2rem;
}

.icon-arrow-circle {
    font-size: 2.4rem;
}
