@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?3pqc32');
    src:
        url('fonts/icomoon.eot?3pqc32#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?3pqc32') format('truetype'),
        url('fonts/icomoon.woff?3pqc32') format('woff'),
        url('fonts/icomoon.svg?3pqc32#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-vector:before {
    content: '\e900';
    color: #5d50c6;
}
.icon-twitter:before {
    content: '\e901';
    color: #f1f2f2;
}
.icon-star:before {
    content: '\e902';
    color: #facd49;
}
.icon-nav:before {
    content: '\e903';
    color: #5d50c6;
}
.icon-location .path1:before {
    content: '\e904';
    color: rgb(255, 87, 34);
}
.icon-location .path2:before {
    content: '\e905';
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-instagram:before {
    content: '\e906';
    color: #fff;
}
.icon-facebook:before {
    content: '\e907';
    color: #5d50c6;
}
.icon-email:before {
    content: '\e908';
}
.icon-calendar .path1:before {
    content: '\e909';
    color: rgb(250, 205, 73);
}
.icon-calendar .path2:before {
    content: '\e90a';
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-bag:before {
    content: '\e90b';
    color: #f85e9f;
}
.icon-arrow-circle:before {
    content: '\e90c';
}
